/* 
    Document   : text
    Created on : 19.03.2013, 18:01:43
    Author     : trainer
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#t{
  
    -fx-fill:linear-gradient(from 0% 0% to 80% 120%, repeat, yellow 0%, green 65%);
}

